/* src/App.css */

body {
  background-color: #f8f9fa;
}

h1, h3 {
  color: #343a40;
}

.card {
  border-radius: 0.5rem;
}

.btn-success {
  margin-left: 10px;
}

.input-group {
  max-width: 600px;
  margin: auto;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mt-3 {
  margin-top: 1rem; /* Adjust as needed */
}
